{% extends "base.html.twig" %}
{% block body %}
	<div class="well">
		<p>UI написан с использованием AngularJS и Bootstrap</p>
		<p>API написан с использованием Symfony 2 и MySQL</p>
	</div>
{% endblock %}