{% extends "base.html.twig" %}
{% block body %}

<div ng-app="guideApp">
  <div ng-controller="countryCtrl">
    <div class="row" ng-cloak>

      <div class="col-xs-3">
        <ul class="nav nav-tabs tabs-left">
          <li ng-repeat="country in countries" class="" ng-class="getTabClass(country.id)" ng-click="setActiveTab(country)">
            <a href="#" data-toggle="tab">[[country.title]]</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-9">
        <div class="tab-content">
            
          <div>
            <button ng-click="showForm = !showForm" class="btn btn-info">+ Add city</button>
            <div ng-show="showForm" ng-if="showForm" ng-init="city={}" class="well">
              <form>
                <input type="text" name="title" ng-model="city.title"><br>
                <button ng-click="saveCity(city)">save</button>
                <button ng-click="showForm = false">cancel</button>
              </form>
            </div>
          </div>

          <div ng-repeat="country in countries" class="content" ng-class="getTabPaneClass(country.id)">
            <div class="row" ng-repeat="city in country.citys">
              <div class="col-md-12">

                <button ng-click="warningCity(city)" ng-model="city" class="btn btn-danger">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
                <div class="row" ng-show="city.warning" ng-model="city">
                  <div class="col-md-4">
                    <button ng-click="deleteCity(city)" class="btn btn-danger">Ok</button>
                    <span>City [[city.title]] will by delete</span>
                  </div>
                  <div class="col-md-3">
                    <button ng-click="cancelCity(city)">Cancel</button>
                  </div>
                </div>
                
                <button ng-click="openCity(city)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
                
                <div ng-show="city.showFormEdit" class="well">
                  <form>
                    <input type="text" name="title" ng-model="city.title"><br>
                    <button ng-click="editCity(city)">edit</button>
                    <button ng-click="cancelCity(city)">cancel</button>
                  </form>
                </div>
                
                [[city.title]]
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> 

{% endblock %}